@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Fira Sans", serif; */
*{
    margin: 0px;
    padding: 0px;
  
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding: 31px 0px 31px 160px;

}
.sign{
    padding: 15px 30px;
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    border-color: rgba(0, 106, 80, 1);
    background-color: white;
    border-radius: 15px;
}

/* Banner Section styles */
/* Banner styles */
.banner{
    background-color: rgba(198, 228, 214, 1);
    width: 1280px;
    height: 560px;
    display: flex;
    justify-content: space-between;
    margin: 19px 160px;
    border-radius: 15px;
}

.banner-content{
    max-width: 622px;
    padding: 117px 60px;

}
.banner-subtitle{
    font-size: 24px;
    font-weight: 600px;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: 16px;
}

.banner-title{
    font-weight: bold;
    font-size: 56px;
    color: rgba(14, 14, 14, 1);
}

.banner-pic{
    width: 474.03px;
    height: 400px;
    margin: 80px 64px;
}
.btn-primary{
   background-color: rgba(0, 106, 80, 1);
   font-size: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600px;
    padding: 17px 34px;
    border-radius: 10px;
    margin-top: 24px;
    

}
/* Future Section Style */
.future-container{
    max-width: 1280px;
    margin: 80px 160px;
}
.future-container h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.future-container p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.box-container{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 32px;
}
.box {
    text-align: justify;
    width: 410.67px;
    height: 325px;
    padding: 32px;
   
    border-radius: 10px;
}
.future-box1{
    background-color: rgba(84, 144, 245, 0.2);
    
}
.future-box2{
    background-color: rgba(198, 228, 214, 1);
}
.future-box3{
    background-color: rgba(247, 235, 207, 1);
}
.box h3{
    font-size: 20px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 12px;

}
.box p{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
}
.box img{
    padding-top: 32px;
}
.btn{
    width: 122px;
    height: 41px;
    font-size: 16px;
    font-weight: 600px;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    border: none;
    border-radius: 10px;
    padding: 11px 20px;
}
.box-btn1{
   background-color: rgba(84, 144, 245, 1); 
}
.box-btn2{
background-color: rgba(9, 161, 92, 1);
}
.box-btn3{
background-color: rgba(255, 194, 57, 1);
}
/* News section style */
.news-container{
   h1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 160px;
    margin-bottom: 24px;
   }
   .news-title{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-left: 160px;
   

   }
   
}
.box1{
    
    display: flex;
    justify-content: space-around;
    gap: 32px;
    width: 1280px;
    height: 402px;
    margin: 32px 160px;
   background-color: whitesmoke;
    border-radius: 15px;
    align-items: center;
   
}


.box-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    
}



.box-description{
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding-top: 12px;
    padding-bottom: 32px;
}
.box-img {
    width: 408px;
    height: 306px;
    border-radius: 25px;
    margin: 48px 0px 48px 48px;
  
}
.box1-right{
  margin: 56px 48px 56px 0px;
 
}
.box2{
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    width: 1280px;
    height: 402px;
    margin: 32px 160px;
   background-color: whitesmoke;
    border-radius: 15px;
    align-items: center;
}
.box-img2{
    width: 408px;
    height: 306px;
    border-radius: 25px;
    margin: 48px 48px 48px 0px;
  
}
.box2-left{
    margin: 56px 0px 56px 48px;
    
   
  }